@model BrasletsWeb.Models.HomeModel
@{
    ViewBag.Title = "ГЛАВНАЯ/АНАЛИТИКА";
}
<link href="~/Content/jquery.formstyler.css" rel="stylesheet" />
<link href="~/Content/jquery.formstyler.theme.css" rel="stylesheet" />
<link href="~/Content/index.css" rel="stylesheet">
<link href="~/Content/analytics.css" rel="stylesheet">
<link href="~/Content/ways.css" rel="stylesheet">
<link href="~/Content/health.css" rel="stylesheet">
<link href="~/Content/reports.css" rel="stylesheet">
<link href="~/Content/incidents.css" rel="stylesheet">
<link href="~/Content/sprav.css" rel="stylesheet">
<link href="~/Content/food.css" rel="stylesheet">
<link href="~/Content/incidents.css" rel="stylesheet" />
<div class="grid-big">
    <div class="trevogi">
        <div class="trevogi-title">Тревоги  и оповещения</div>
        <table class="trevogi-table">
            <tr class="trevogi-table-head">
                <td>Время</td>
                <td>ФИО</td>
                <td>Нарушение</td>
                <td>Связь</td>
            </tr>
            <tr>
                <td>11.12.2018  08:10</td>
                <td>Иванов И.И.</td>
                <td>Уход с маршрута</td>
                <td>Петров П.П.</td>
            </tr>
            <tr>
                <td>10.12.2018  16:22</td>
                <td>Смирнов А.В.</td>
                <td>Нарушение ТБ</td>
                <td>Нет</td>
            </tr>
            <tr>
                <td>10.12.2018  12:56</td>
                <td>Куанышбаев А.С.</td>
                <td>Снятие браслета</td>
                <td>Нет</td>
            </tr>
            <tr>
                <td>10.12.2018  11:08</td>
                <td>Иванов И.И.</td>
                <td>Уход с маршрута</td>
                <td>Петров П.П.</td>
            </tr>
            <tr>
                <td>10.12.2018  10:31</td>
                <td>Смирнов А.В.</td>
                <td>Нарушение ТБ</td>
                <td>Нет</td>
            </tr>
            <tr>
                <td>10.12.2018  10:22</td>
                <td>Куанышбаев А.С.</td>
                <td>Снятие браслета</td>
                <td>Нет</td>
            </tr>
            <tr>
                <td>10.12.2018  09:47</td>
                <td>Иванов И.И.</td>
                <td>Уход с маршрута</td>
                <td>Петров П.П.</td>
            </tr>
            <tr>
                <td>10.12.2018  09:20</td>
                <td>Смирнов А.В.</td>
                <td>Нарушение ТБ</td>
                <td>Нет</td>
            </tr>
            <tr>
                <td>09.12.2018  17:01</td>
                <td>Куанышбаев А.С.</td>
                <td>Снятие браслета</td>
                <td>Нет</td>
            </tr>
        </table>
    </div>
    <div class="percents-before">
        <div class="percents">
            <div class="percents-1">
                <div class="percents-title">
                    В работе <br>человек
                </div>
                <div class="percents-1-count">
                    <span class="percents-1-black">927 </span>
                    <span class="percents-1-gray">/1200</span>
                </div>
            </div>
            <div class="percents-2">
                <div class="percents-title">
                    Нарушений за период
                </div>
                <div class="percents-count red">
                    99<img src="img/small-arr-up-red.png">
                </div>
            </div>
            <div class="percents-3">
                <div class="percents-title">
                    Показатель ТБ
                </div>
                <div class="percents-count green">
                    96%<img src="img/small-arr-up-green.png">
                </div>
            </div>
            <div class="percents-4">
                <div class="percents-title">
                    продуктив<img style="height: 1px; width:1px;">ность
                </div>
                <div class="percents-count green">
                    92%<img src="img/small-arr-up-green.png">
                </div>
            </div>
            <div class="percents-5">
                <table>
                    <tr>
                        <td class="percents-5-title">Общий показатель</td>
                        <td class="percents-5-percent">96% <img src="img/big-arr-up-green.png"></td>
                    </tr>
                </table>
            </div>
            <div class="percents-6">

                <div class="percents-bold-title">Основные данные</div>
                <div class="percents-6-grid-table">
                    <table class="persents-6-tables-1">
                        <tr>
                            <td>
                                Опоздания
                            </td>
                            <td>
                                10%
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Уход с маршрута ТС
                            </td>
                            <td>
                                4%
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Уход с маршрута люд.
                            </td>
                            <td>
                                18%
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Задержки
                            </td>
                            <td>
                                8%
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Снятие браслетов
                            </td>
                            <td>
                                2%
                            </td>
                        </tr>
                    </table>
                    <table class="persents-6-tables-2">
                        <tr>
                            <td>
                                Заход в запрещ.зону
                            </td>
                            <td>
                                6%
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Подлоги
                            </td>
                            <td>
                                1%
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Прогулы
                            </td>
                            <td>
                                2%
                            </td>
                        </tr>
                        <tr class="persents-6-result">
                            <td>
                                Общий балл:
                            </td>
                            <td class="persents-6-result-value">
                                99
                            </td>
                        </tr>
                    </table>
                </div>



            </div>


        </div>
    </div>


















    <div class="object">
        <div class="object-title">Объекты</div>
        <div class="checkboxes">
            <div class="checkbox-row">
                <input type="checkbox" checked id="checkbox1">
                <label for="checkbox1">офис ссгпо</label>
            </div>
            <div class="checkbox-row">
                <input type="checkbox" id="checkbox2">
                <label for="checkbox2">промбаза ссгпо</label>
            </div>
            <div class="checkbox-row">
                <input type="checkbox" id="checkbox3">
                <label for="checkbox3">промбаза ссгпо</label>
            </div>
            <div class="checkbox-row">
                <input type="checkbox" id="checkbox4">
                <label for="checkbox4">
                    куржункульский
                    карьер
                </label>
            </div>
            <div class="checkbox-row">
                <input type="checkbox" id="checkbox5">
                <label for="checkbox5">сарбайский карьер</label>
            </div>
        </div>

        <div class="object-button-wrap">
            <div class="object-button">Показать</div>
        </div>



    </div>
    <div class="round-diagrams">
        <div class="diagram-1">
            <div class="diagram-image">
                <img src="img/diagram1.png">
            </div>
            <div class="diagram-text">
                <div class="color-title"><img src="img/gray.png">Опоздания</div>
                <div class="color-title"><img src="img/lightblue.png">Уход с маршрута ТС</div>
                <div class="color-title"><img src="img/yellow.png">Уход с маршрута люд.</div>
                <div class="color-title"><img src="img/green.png">Задержки</div>
                <div class="color-title"><img src="img/orange.png">Снятие браслетов</div>
                <div class="color-title"><img src="img/blue.png">Заход в запрещ. зону</div>
                <div class="color-title"><img src="img/yellowgreen.png">Подлоги</div>
                <div class="color-title"><img src="img/red.png">Прогулы</div>
            </div>
        </div>
        <div class="diagram-2">
            <div class="diagram-image">
                <img src="img/diagram2.png">
            </div>
            <div class="diagram-text">
                <div class="color-title"><img src="img/darkgray.png">Руководство</div>
                <div class="color-title"><img src="img/orange.png">ЦТР</div>
                <div class="color-title"><img src="img/lightblue.png">Рабочие</div>
                <div class="color-title"><img src="img/yellow.png">Операторы</div>
                <div class="color-title"><img src="img/lightgray.png">Адм</div>
            </div>
        </div>
    </div>
    <div class="diagram-3">
        <div class="diagram-3-image">
            <div class="diagram-3-image-wrap"><img src="img/diagram3.png"></div>
        </div>
        <div class="diagram-3-text">
            <span class="dia3-img"><img src="img/qorange.png">Продуктивность</span>
            <span class="dia3-img"><img src="img/qbluegreen.png">Человек в работе</span>
            <span class="dia3-img"><img src="img/qyellow.png">Нарушений</span>
            <span class="dia3-img"><img src="img/qgray.png">Общий показатель</span>
        </div>



    </div>
</div>
