@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="center-side">
    <div class="center-item">
        <div class="item-title-wrap">

            <div class="center-item-title">
                офис ссгпо
            </div>
            <div class="item-title-img">
                <img class="center-item-img" src="img/item-img-2.png">
            </div>
        </div>

        <div class="mistakes">
            <div class="mistakes-count">
                8
            </div>
            <div class="mistakes-title">
                нарушений за 1000 часов
            </div>
        </div>
        <div class="processes">
            <div class="one-process">
                <div class="name-process">
                    В работе
                </div>
                <div class="amount-process">
                    927 <span class="gray-process">/ 1200</span>
                </div>
            </div>
            <div class="one-process">
                <div class="name-process">
                    Нарушений
                </div>
                <div class="amount-process">
                    99
                </div>
            </div>
            <div class="one-process">
                <div class="name-process">
                    Показатель ТБ
                </div>
                <div class="amount-process">
                    96%
                </div>
            </div>
            <div class="one-process">
                <div class="name-process">
                    Продуктивность
                </div>
                <div class="amount-process">
                    92%
                </div>
            </div>
            <div class="total-process">
                <div class="total-name">
                    Общий показатель:
                </div>
                <div class="total-amount red">
                    <img src="img/arr-down-red.png"> 96%
                </div>
            </div>
        </div>
    </div>
    <div class="center-item">
        <div class="item-title-wrap">

            <div class="center-item-title">
                промбаза ссгпо
            </div>
            <div class="item-title-img">
                <img class="center-item-img" src="img/item-img-2.png">
            </div>
        </div>
        <div class="mistakes">
            <div class="mistakes-count">
                12
            </div>
            <div class="mistakes-title">
                нарушений за 1000 часов
            </div>
        </div>
        <div class="processes">
            <div class="one-process">
                <div class="name-process">
                    В работе
                </div>
                <div class="amount-process">
                    927 <span class="gray-process">/ 1200</span>
                </div>
            </div>
            <div class="one-process">
                <div class="name-process">
                    Нарушений
                </div>
                <div class="amount-process">
                    99
                </div>
            </div>
            <div class="one-process">
                <div class="name-process">
                    Показатель ТБ
                </div>
                <div class="amount-process">
                    96%
                </div>
            </div>
            <div class="one-process">
                <div class="name-process">
                    Продуктивность
                </div>
                <div class="amount-process">
                    92%
                </div>
            </div>
            <div class="total-process">
                <div class="total-name">
                    Общий показатель:
                </div>
                <div class="total-amount green">
                    <img src="img/arr-up-green.png"> 96%
                </div>
            </div>
        </div>
    </div>
    <div class="center-item">
        <div class="item-title-wrap">

            <div class="center-item-title">
                оф-центральная
            </div>
            <div class="item-title-img">
                <img class="center-item-img" src="img/item-img-2.png">
            </div>
        </div>
        <div class="mistakes">
            <div class="mistakes-count">
                5
            </div>
            <div class="mistakes-title">
                нарушений за 1000 часов
            </div>
        </div>
        <div class="processes">
            <div class="one-process">
                <div class="name-process">
                    В работе
                </div>
                <div class="amount-process">
                    927 <span class="gray-process">/ 1200</span>
                </div>
            </div>
            <div class="one-process">
                <div class="name-process">
                    Нарушений
                </div>
                <div class="amount-process">
                    99
                </div>
            </div>
            <div class="one-process">
                <div class="name-process">
                    Показатель ТБ
                </div>
                <div class="amount-process">
                    96%
                </div>
            </div>
            <div class="one-process">
                <div class="name-process">
                    Продуктивность
                </div>
                <div class="amount-process">
                    92%
                </div>
            </div>
            <div class="total-process">
                <div class="total-name">
                    Общий показатель:
                </div>
                <div class="total-amount red">
                    <img src="img/arr-up-red.png"> 96%
                </div>
            </div>
        </div>
    </div>
    <div class="center-item">
        <div class="item-title-wrap">

            <div class="center-item-title">
                сарбайский карьер
            </div>
            <div class="item-title-img">
                <img class="center-item-img" src="img/item-img-2.png">
            </div>
        </div>
        <div class="mistakes">
            <div class="mistakes-count">
                8
            </div>
            <div class="mistakes-title">
                нарушений за 1000 часов
            </div>
        </div>
        <div class="processes">
            <div class="one-process">
                <div class="name-process">
                    В работе
                </div>
                <div class="amount-process">
                    927 <span class="gray-process">/ 1200</span>
                </div>
            </div>
            <div class="one-process">
                <div class="name-process">
                    Нарушений
                </div>
                <div class="amount-process">
                    99
                </div>
            </div>
            <div class="one-process">
                <div class="name-process">
                    Показатель ТБ
                </div>
                <div class="amount-process">
                    96%
                </div>
            </div>
            <div class="one-process">
                <div class="name-process">
                    Продуктивность
                </div>
                <div class="amount-process">
                    92%
                </div>
            </div>
            <div class="total-process">
                <div class="total-name">
                    Общий показатель:
                </div>
                <div class="total-amount red">
                    <img src="img/arr-up-red.png"> 96%
                </div>
            </div>
        </div>
    </div>
    <div class="center-item">
        <div class="item-title-wrap">

            <div class="center-item-title">
                куржун <img width="1" height="1" />кульский карьер
            </div>
            <div class="item-title-img">
                <img class="center-item-img" src="img/item-img-4.png">
            </div>
        </div>
        <div class="mistakes">
            <div class="mistakes-count">
                8
            </div>
            <div class="mistakes-title">
                нарушений за 1000 часов
            </div>
        </div>
        <div class="processes">
            <div class="one-process">
                <div class="name-process">
                    В работе
                </div>
                <div class="amount-process">
                    927 <span class="gray-process">/ 1200</span>
                </div>
            </div>
            <div class="one-process">
                <div class="name-process">
                    Нарушений
                </div>
                <div class="amount-process">
                    99
                </div>
            </div>
            <div class="one-process">
                <div class="name-process">
                    Показатель ТБ
                </div>
                <div class="amount-process">
                    96%
                </div>
            </div>
            <div class="one-process">
                <div class="name-process">
                    Продуктивность
                </div>
                <div class="amount-process">
                    92%
                </div>
            </div>
            <div class="total-process">
                <div class="total-name">
                    Общий показатель:
                </div>
                <div class="total-amount red">
                    <img src="img/arr-up-red.png"> 96%
                </div>
            </div>
        </div>
    </div>
</div>
<div id="aside-right">
    <div id="common-information">
        <div id="comminf-title">
            общая информация
        </div>
        <div id="common-mistakes">
            <span class="commist-span">нарушения по предприятию </span><br><span class="common-red">42</span><br><span class="commist-span">на 1000 часов</span>
        </div>
        <div class="common-table">
            <div class="common-table-img">
                <img src="img/comm-1.png">
            </div>
            <div class="common-table-td">
                В работе<br>
                <span class="common-numbers">927 <span class="common-gray">/1200</span></span>
            </div>
        </div>
        <div class="common-table">
            <div class="common-table-img">
                <img src="img/comm-2.png">
            </div>
            <div class="common-table-td">
                Показатель ТБ<br>
                <span class="common-numbers">96%</span>
            </div>
        </div>
        <div class="common-table">
            <div class="common-table-img">
                <img src="img/comm-3.png">
            </div>
            <div class="common-table-td">
                Опоздания<br>
                <span class="common-numbers">10%</span>
            </div>
        </div>
        <div class="common-table">
            <div class="common-table-img">
                <img src="img/comm-4.png">
            </div>
            <div class="common-table-td">
                Продуктивность<br>
                <span class="common-numbers">92%</span>
            </div>
        </div>
        <div class="common-table">
            <div class="common-table-img">
                <img src="img/comm-5.png">
            </div>
            <div class="common-table-td">
                Нахождение в работе<br>
                <span class="common-numbers">40%</span>
            </div>
        </div>
    </div>

</div>
